<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Pagina de inodoro, reservados todos los derechos de autor</h1>
            <p>
                Texto de relleno Texto de relleno Texto de relleno Texto de relleno Texto de relleno Texto de relleno 
            </p>
        </div>


        <div class="col-4">
            <img src="assets/img/inodoro.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}

</body>

</html>